# Ignore local files not needed in container
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

.git
.gitignore
.env
.env.*
.DS_Store

# Frontend/dev artifacts
/dist
/build
.cache
.vscode
.idea
